@model ICollection<ShareResource.Models.ViewModels.ImgResultViewModel>

<div class="gallery-container">
    <div class="row" id="gallery">
        @if (Model != null)
        {
            @foreach (var image in Model)
            {
                @await Html.PartialAsync("_UserImgItem", image);
            }
        }
        else
        {
            <div>No item found</div>
        }
    </div>
</div>
<script>
    function deleteAsync(itemId) {
        $.ajax({
            url: `/api/v1/resources/${itemId}`,
            method: 'DELETE',
            success: function (data) {
                const url = '/resources/profile' // Use string concatenation
                window.location.href = url;
            },
            error: function () {
                alert('Failed to load data.');
            }
        });
    }
    function updateNameAsync(itemId,name) {
        $.ajax({
            url: `/api/v1/resources/${itemId}`,
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({"FileName":name}),
            success: function (data) {
            },
            error: function (error) {
            }
        });
    }
    

    let selectedImgId = null;
    function resetModalState() {
        selectedImgId = null; // Clear the selected image ID
    }
    $(document).on('click', '.btn-delete', function () {
        selectedImgId = $(this).data('imgid');
        $('#deleteModal').modal('show');
    });

    $('#confirmDelete').on('click', function () {
        if (selectedImgId) {
            deleteAsync(selectedImgId);

        }
    });
    $('.btn-cancel, .btn-close').on('click', function () {
        resetModalState();
        $('#deleteModal').modal('hide');
    });

    function redirectToItem(imgId) {
        const url = '/resources/' + imgId; // Use string concatenation
        window.location.href = url;
    }
    $(document).on('click', '.clickable-items', function () {
        const imgId = $(this).data('imgid');
        redirectToItem(imgId);
    });
    $(document).on('click', '.btn-rename', function () {
        const cardBody = $(this).closest('.card-body');
        cardBody.find('.file-name').addClass('d-none');   // Hide the file name
        cardBody.find('.rename-input').removeClass('d-none').focus(); // Show input field
        $(this).text('Save').addClass('btn-save').removeClass('btn-rename');
    });

    $(document).on('click', '.btn-save', function () {
        imgId = $(this).data('imgid');

        const cardBody = $(this).closest('.card-body');
        const newName = cardBody.find('.rename-input').val().trim();

        if (newName) {
            updateNameAsync(imgId,newName)
            cardBody.find('.file-name').text(newName).removeClass('d-none');
            cardBody.find('.rename-input').addClass('d-none');
        }

        $(this).text('Rename').addClass('btn-rename').removeClass('btn-save');
    });

</script>
