@model ShareResource.Models.ViewModels.GalleryViewModel
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-page">
    @await Html.PartialAsync("_Gallery",Model)
</div>
