
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <form id="login">
        <div class="form-group">
            <label for="Email">Email</label>
            <input id="Email" name="Email" type="email" class="form-control" required/>
            <span id="emailError" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input id="Password" name="Password" type="password" class="form-control" required />
            <span id="passwordError" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="mt-3">Don't have an account? <a href="/Account/Register">Register here</a> || or forgot password? <a href="/Account/change-password">Reset here</a></p>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function getQueryParams() {
                const params = new URLSearchParams(window.location.search);
                var res=params.get('returnUrl') // Get the returnUrl parameter
                if (res) {
                    return res;
                }
                else return "";
            }

            $("#login").on("submit", function (event) {
                event.preventDefault();

                const email = $("#Email").val();
                const password = $("#Password").val();

                if (!email) {
                    $("#emailError").text("Email is required.");
                    return;
                }
                if (!password) {
                    $("#passwordError").text("Password is required.");
                    return;
                }
                const redirectUrl = getQueryParams()
                var url="";
                if (redirectUrl !== "") { url = `/api/v1/auths/login?returnUrl=${redirectUrl}`; }
                else url = `/api/v1/auths/login`;

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: "application/json",
                    data: JSON.stringify({
                        Email: email,
                        Password: password
                    }),
                    success: function (response) {
                        if (response.redirectUrl !== null) {
                            window.location.href = response.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert("Login failed: " + xhr.responseText);
                    }
                });
            });
        });
    </script>
}
