@model IEnumerable<ShareResource.Models.ViewModels.ImgResult>

<div class="gallery-container">
<div class="row" id="gallery"> 
    @foreach (var image in Model)
    {
        @await Html.PartialAsync("_ImgItem",image);
    }
</div>
</div>
