@model ShareResource.Models.ViewModels.MainPageViewModel
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-page">
    @await Html.PartialAsync("_Gallery", Model.Imgs)
    @await Html.PartialAsync("_PaginationComponent", Model.Pagination)
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#prevPage").click( async function () {
                const currentPage = parseInt($(".current-page").text());
                if (currentPage > 1) {
                    fetchGlobalPage(currentPage - 1);
                }
            });

            $("#nextPage").click(async function () {
                const currentPage = parseInt($(".current-page").text());
                fetchGlobalPage(currentPage + 1);

            });

            $(document).on('click', '.page-btn', function () {
                const page = $(this).data('page'); 
                fetchGlobalPage(page); // Fetch data for the selected page
            });
            function redirect(url) {
                window.location.href = url;
            }
            function fetchGlobalPage(page) {
                redirect(`/resources?page=${page}`)
            }
        });
    </script>
}

